html {
    background-color: #eff7fa;
}

body {
    background-color: #eff7fa;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

h1 {
    background-color: navy;
    color: white;
    font-size: 50px;
    padding: 10px;
    text-align: center;
}

h2{
    color: navy;
    font-size: 35px;
    padding: 10px;
    text-align: center;
    text-decoration: overline;
    text-decoration-color: #ADD8E6;
}

h5{
    text-align: center;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
}

.title-citation{
    font-size: 10px;
    text-align: center;
}

.citation{
    font-size: 10px;
    padding-top: 0px;
}
