html {
    background-color: #eff7fa;
}

body {
    background-color: #eff7fa;
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
}

.citation{
    font-size: 10px;
}
